<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <title th:text="#{error.500_title}">ServerError</title>
</head>
<body>

<div layout:fragment="content" class="flex flex-col items-center justify-center min-h-[40vh] text-center">
    <div class="bg-white shadow-lg rounded-lg p-8 max-w-2xl w-full">
        <h2 class="text-4xl font-bold text-red-600 mb-6">
            <span th:text="#{error.500_message}">There is some problem in processing your request</span>
            <i class="fas fa-frown fa-lg"></i>
        </h2>
    </div>
</div>
</body>
</html>
